<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19736280311-3cb8k4fcg4q8o72aosfnp5e4auipjlei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19736280311-3cb8k4fcg4q8o72aosfnp5e4auipjlei</string>
	<key>API_KEY</key>
	<string>AIzaSyBYHbUvLyfHZahdbNDbGFhC2oPDrcm423o</string>
	<key>GCM_SENDER_ID</key>
	<string>19736280311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myouseeem.myouseeem</string>
	<key>PROJECT_ID</key>
	<string>myouseeem-eb4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>myouseeem-eb4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19736280311:ios:d88033ca65223972c567f2</string>
	<key>DATABASE_URL</key>
	<string>https://myouseeem-eb4f1.firebaseio.com</string>
</dict>
</plist>